---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=aa400c21efe34031687760092612cb6b&zip=98117
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.3772,"lat":47.6873},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"base":"stations","main":{"temp":278.6,"feels_like":277.83,"temp_min":277.55,"temp_max":279.65,"pressure":1005,"humidity":94},"visibility":10000,"wind":{"speed":1.34,"deg":0,"gust":3.13},"rain":{"1h":0.86},"clouds":{"all":100},"dt":1707191095,"sys":{"type":2,"id":2082699,"country":"US","sunrise":1707147089,"sunset":1707182129},"timezone":-28800,"id":0,"name":"Seattle","cod":200}'
  recorded_at: Tue, 06 Feb 2024 03:48:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=aa400c21efe34031687760092612cb6b&zip=98117
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1707199200,"main":{"temp":278.55,"feels_like":277.73,"temp_min":278.49,"temp_max":278.55,"pressure":1006,"sea_level":1006,"grnd_level":996,"humidity":94,"temp_kf":0.06},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":1.37,"deg":334,"gust":3.94},"visibility":10000,"pop":0.55,"rain":{"3h":1.05},"sys":{"pod":"n"},"dt_txt":"2024-02-06
        06:00:00"},{"dt":1707210000,"main":{"temp":278.51,"feels_like":277.65,"temp_min":278.48,"temp_max":278.51,"pressure":1008,"sea_level":1008,"grnd_level":997,"humidity":96,"temp_kf":0.03},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":100},"wind":{"speed":1.39,"deg":354,"gust":4.02},"visibility":10000,"pop":0.96,"rain":{"3h":2.37},"sys":{"pod":"n"},"dt_txt":"2024-02-06
        09:00:00"},{"dt":1707220800,"main":{"temp":278.4[...]
